<link rel="stylesheet" type="text/css" href="/css/home.css"> 

<main>
    <div id="add-btn" >
        <p>
            <a class="btn rounded-3" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              Add student
            </a>
        </p>
        <div class="collapse form-data" id="collapseExample">
            <div class="card card-body  rounded-3" id="form-box">
                <form action="/home/basicDetails" id="list-form" method="post">
                  <div id="student-info">
                    <div class="common">
                      <label for="batch">Batch -</label>
                      <select name="batch">
                        <option>2022-23</option>
                      </select>
                    </div>
                
                    <div class="common">
                      <label for="name">Name -</label>
                      <input type="text" placeholder="Student name" name="student"  required>
                    </div>
                    
                    <div class="common">
                      <label for="rollnbr">Roll no -</label>
                      <input type="number" placeholder="Roll no."  name="rollnbr" required>
                    </div>
  
                    <div class="common">
                      <label for="collage">Collage -</label>
                      <input type="text" placeholder="Collage name"  name="collage" required>
                    </div>
                    

                  </div>
                  <div id="student-skills">
                    <div class="common">
                      <label for="dsa">DSA -</label>
                      <input type="number" placeholder="Score"  name="dsa" required>
                    </div>

                    <div class="common">
                      <label for="web">Web -</label>
                      <input type="number" placeholder="Score"  name="web" required>
                    </div>

                    <div class="common">
                      <label for="react">React -</label>
                      <input type="number" placeholder="Score"  name="react" required>
                    </div>

                    <div class="common">
                      <button type="submit">Add details</button>
                    </div>

                  </div>

                </form>
              </div>
                
            </div>
        </div>
    </div>
    <div class="students ">
        <div class="accordion accordion-flush  " id="accordionFlushExample">
          <% let myStudents = locals.user.students %>
          <% for( list of lists) { %>
            <% for( stu of myStudents) { %>
              <% if(list.id == stu) { %>
                <div class="accordion-item m-3 rounded-3 ">
                  <h2 class="accordion-header" id="<%= list.rollnbr %>">
                      <button class="accordion-button collapsed rounded-3" type="button" data-bs-toggle="collapse" data-bs-target="#flush-<%= list.id %>" aria-expanded="false" aria-controls="flush-<%= list.id %>">
                        <%= list.student  %>
                      </button>
                  </h2>
                  <div id="flush-<%= list.id %>" class="accordion-collapse  collapse" aria-labelledby="<%= list.rollnbr %>" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body ">
                      <div id="details">
                          <p>Batch <small><%= list.batch %></small></p>
                          <p>Collage name :<small> <%= list.collage %></small> </p>
                      </div>
                      <div id="score-card">
                          <p>Score card :</p>
                          <div id="course">
                            <div class="progressDiv">
                              <div class="statChartHolder">
                                  <div class="progress-pie-chart1" data-percent="<%= list.dsa %>"><!--Pie Chart -->
                                      <div class="ppc-progress">
                                          <div class="ppc-progress-fill1"></div>
                                      </div>
                                      <div class="ppc-percents1">
                                        <div class="pcc-percents-wrapper">
                                            <span><%= list.dsa %>%</span>
                                        </div>
                                      </div>
                                  </div>
                                  
                              </div>
                              <div class="statChartHolder">
                                <div class="progress-pie-chart2" data-percent="<%= list.web %>"><!--Pie Chart -->
                                    <div class="ppc-progress">
                                        <div class="ppc-progress-fill2"></div>
                                    </div>
                                    <div class="ppc-percents2">
                                      <div class="pcc-percents-wrapper">
                                          <span><%= list.web %>%</span>
                                      </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="statChartHolder">
                              <div class="progress-pie-chart3" data-percent="<%= list.react %>"><!--Pie Chart -->
                                  <div class="ppc-progress">
                                      <div class="ppc-progress-fill3"></div>
                                  </div>
                                  <div class="ppc-percents3">
                                    <div class="pcc-percents-wrapper">
                                        <span><%= list.react %>%</span>
                                    </div>
                                  </div>
                              </div>
                              
                          </div>
                            </div>
                              
                          </div>
                      </div>  
                      <div id="info">
                          <div id="status">
                          <p>Status :<small></small></p>
                          </div>
                          <div id="interview">
                            <form action="/home/interview/<%= list.id%>" method="get">
                              <button type="submit">Create interview</button>
                            </form>
                            
                            
                          </div>
                      </div>
                      
                      </div>
                  </div>
                </div>
              <% } %>
            <% } %>  
          <% } %> 
        </div> 
            
    </div>
    
</main>

<script src="/js/index.js"></script>
<script src="/js/home_list.js"></script>