<link rel="stylesheet" type="text/css" href="/css/home.css"> 

<main>
    <div id="add-btn" >
        <p>
            <a class="btn rounded-3" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              Add student
            </a>
        </p>
        <div class="collapse form-data" id="collapseExample">
            <div class="card card-body  rounded-3" id="form-box">
                <form action="/home/basicDetails" id="list-form" method="post">
                  <div id="student-info">
                    <div class="common">
                      <label for="batch">Batch -</label>
                      <select name="batch">
                        <option>2022-23</option>
                      </select>
                    </div>
                
                    <div class="common">
                      <label for="name">Name -</label>
                      <input type="text" placeholder="Student name" name="student"  required>
                    </div>
                    
                    <div class="common">
                      <label for="rollnbr">Roll no -</label>
                      <input type="number" placeholder="Roll no."  name="rollnbr" required>
                    </div>
  
                    <div class="common">
                      <label for="collage">Collage -</label>
                      <input type="text" placeholder="Collage name"  name="collage" required>
                    </div>
                    

                  </div>
                  <div id="student-skills">
                    <div class="common">
                      <label for="dsa">DSA -</label>
                      <input type="number" placeholder="Score"  name="dsa" required>
                    </div>

                    <div class="common">
                      <label for="web">Web -</label>
                      <input type="number" placeholder="Score"  name="web" required>
                    </div>

                    <div class="common">
                      <label for="react">React -</label>
                      <input type="number" placeholder="Score"  name="react" required>
                    </div>

                    <div class="common">
                      <button type="submit">Add details</button>
                    </div>

                  </div>

                </form>
              </div>
                
            </div>
        </div>
    </div>
    <div class="students">
        <div class="accordion accordion-flush  " id="accordionFlushExample">
          <% let myStudents = locals.user.students %>
          <% for( list of lists) { %>
            <% for( stu of myStudents) { %>
              <% if(list.id == stu) { %>
                <div class="accordion-item m-3 rounded-3 ">
                  <h2 class="accordion-header" id="<%= list.rollnbr %>">
                      <button class="accordion-button collapsed rounded-3" type="button" onclick='check()' data-bs-toggle="collapse" data-bs-target="#flush-<%= list.id %>" aria-expanded="false" aria-controls="flush-<%= list.id %>">
                        <%= list.student  %>
                      </button>
                  </h2>
                  <div id="flush-<%= list.id %>" class="accordion-collapse  collapse" aria-labelledby="<%= list.rollnbr %>" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body ">
                      <div id="details">
                          <p>Batch <small><%= list.batch %></small></p>
                          <p>Collage name :<small> <%= list.collage %></small> </p>
                      </div>
                      <div id="score-card">
                          <div id="score-text">
                            <p>Score card :</p>
                          </div>
                          <div id="course">
                            <div id="dsa">
                                <div class="text">
                                  <h5>DSA</h5>
                                </div>
                                <div class="skills-display">
                                  <div class="skill-progress" >
                                    <div class="fifty-percent mb-blue"  data-bar-width='<%= list.dsa %>'>
                                      <div class="skill-name">
                                        <span><%= list.dsa %>% </span>
                                      </div>
                                    </div>
                                  </div>
                                </div> 
                            </div>
                            <div id="web">
                              <div class="text">
                                <h5>Web</h5>
                              </div>
                              <div class="skills-display">
                                <div class="skill-progress" >
                                  <div class="fifty-percent  mb-orange"  data-bar-width="<%= list.web %>">
                                    <div class="skill-name">
                                      <span><%= list.web %> % </span>
                                    </div>
                                  </div>
                                </div>
                              </div> 

                            </div>
                            <div id="react">
                                <div class="text">
                                  <h5>React</h5>
                                </div>
                                <div class="skills-display">
                                  <div class="skill-progress" >
                                    <div class="fifty-percent mb-teal"  data-bar-width='<%= list.react %>'>
                                      <div class="skill-name">
                                        <span><%= list.react %> % </span>
                                      </div>
                                    </div>
                                  </div>
                                </div> 
                            </div>                             
                          </div> 
                      </div>  
                      <div id="info">
                          <div id="status">
                            <p id="text1">
                              Status :
                            </p>  
                            <% if(list.web > 50 && list.dsa > 50 && list.react > 50 ) { %>
                              <p id="text2">Passed</p>
                            <% } else { %>
                              <p  id="text3">Failed</p>
                            <% } %>
                          
                          </div>
                          <div id="total-interviews">
                              <span>Total Interviews: <%= list.interviews.length%></span>
                          </div>
                          <div id="interview">
                            <form action="/home/interview/<%= list.id%>" method="get">
                              <button type="submit">View/Create interview</button>
                            </form>
                          </div>
                      </div>
                      </div>
                  </div>
                </div>
              <% } %>
            <% } %>  
          <% } %> 
        </div> 
    </div>
    
</main>

<script src="/js/index.js"></script>

<script src="/js/home_list.js"></script>